body {
    background: url("../images/concrete-texture.png") repeat;
    font-family: Arial, Helvetica, sans-serif;
    color:#777777;
}

.page-header {
    background-color: #ffffff;
    border-bottom: 2px solid #dddddd;
    margin-bottom: 20px;
    width: 100%; 
  }
  
.navbar-brand {
    background-color: #4aaaa5;
    color: #eee; 
    
}

#profileimage {
    float: left;
    height: 15em;
    
}
/*---------------------------------Connect With me -------*/


    
  
  .right-column {
    font-size: 20px;
    padding:20px ;
    text-align: center;
    background-color: #ffffff;
    Border: 2px solid #eee;
    margin-bottom: 20px;
    

  }

  #right-column, ul {
    text-align: left;
    
  }

  #right-column, ul li {
    display: inline-block;
    
  }

  #right-column ul li {
    display: inline-block;
    margin-top: 20px;
    text-align: center;
    
  }

  ul li img {
    width: 40px;
    display: table-row;
    overflow: right;
  }

  #left-column {
      background-color: #ffffff;
      padding: 30px;
      margin-bottom: 80px;
  }

  h2, h3 {
      font-family: Georgia, 'Times New Roman', Times, serif;
      color: #4aaaa5;
      border-bottom: 2px solid #dddddd;
      padding: 20px;
  }

  #inputMessage {
    height:120px;
     width:80%;
     float: right;
  }

  button {
    background-color: #4aaaa5;
    color: #eee;
  }

  .port-item {
    position: relative;
    background-color: rgba(65,160,155, 2);
    margin-bottom: 40px;
    width: 45%;
    text-align: center;
    color:#eee;
    float: left;
    height: 200px;
    top: 20px;
  }

  .port-item:nth-child(odd) { 
    float: right;
  }

  #port1 {
    background: url("../images/port1.jpg");
    background-repeat: no-repeat;
    background: cover;

  }

  #port2 {
    background: url("../images/port2.jpg");
    background-repeat: no-repeat;
    background: cover;
  }

  #port3 {
    background: url("../images/port3.jpg");
    background-repeat: no-repeat;
    background: cover;
  }

  #port4 {
    background: url("../images/port4.jpg");
    background-repeat: no-repeat;
    background: cover;
  }

  #port5 {
    background: url("../images/port5.jpg");
    background-repeat: no-repeat;
    background: cover;
  }

  h4 {
    padding: 20px;
    background-color: #4aaaa5;
    opacity: inherit;
    position: relative;
    top: 120px;
  }
  
  

  footer {
    clear: both;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: #666666;
    border-top: 3px solid #42a09a;
    color: #eee;
    text-align: center;
    font-size: 15px;
    padding: 20px;
   
  }
  